#title {
    text-align: center;
}

#container {
    display: flex;
    justify-content: space-around;
}

#image {
    height: 800px;
}

#description {
    max-width: 75%;
    text-align: center;
    margin: auto;
}
