#container {
    width: 100%;
    height: 75px;
    background-color:rgb(192, 246, 248);
    display: flex;
    justify-content: space-around;
}

#name-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
}
#store-name {
    margin: 0;
}

#menu-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu-item {
    font-size: 20px;
    text-decoration: none;
    color: black;
}