#title {
    text-align: center;
}
.product-card {
    background-color: aliceblue;
    width: 350px;
    height: 450px;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    cursor: pointer;
}

#product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: auto;
    justify-content: space-around;
}

.thumbnail {
    width: 300px;
    height: 300px;
}

.product-title {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}

.price {
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}

.price-stroked {
    text-decoration: line-through;

}

.discount-price-wrapper {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.discount-price {
    font-size: 20px;
    font-weight: bold;
    color: red;
}